{% extends 'base.html' %}
{% block content %}
    <h1>
        Products
    </h1>
    <div class="row">
        {% for product in products %}
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="{{ product.image_url }}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title"> {{ product.name  }}</h5>
                        <p class="card-text">
                            ${{ product.price }}
                        </p>
                        <a href="#" class="btn btn-primary">add to car</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}